<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>CSS-based template for plugin &quot;tx_lumoscoutexpose_pi1&quot;</title>
</head>

<body>

<h1>CSS-based template for plugin &quot;tx_lumoscoutexpose_pi1&quot;</h1>

<h2>Template for Office</h2>

<!-- ###TEMPLATE_OFFICE### begin -->
<strong>Markers from type Office</strong>
<dl>
<dt>buildingType</dt><dd>###buildingType###</dd>
<dt>netArea</dt><dd>###netArea###</dd>
<dt>totalArea</dt><dd>###totalArea###</dd>
<dt>netRent</dt><dd>###netRent###</dd>
<dt>price</dt><dd>###price###</dd>
<dt>rentPerSqM</dt><dd>###rentPerSqM###</dd>
<dt>courtage</dt><dd>###courtage###</dd>
<dt>yearConstructed</dt><dd>###yearConstructed###</dd>
<dt>kaution</dt><dd>###kaution###</dd>
<dt>marketing</dt><dd>###marketing###</dd>
<dt>marketingPrice</dt><dd>###marketingPrice###</dd>
<dt>minDivisible</dt><dd>###minDivisible###</dd>
<dt>additionalCosts</dt><dd>###additionalCosts###</dd>
<dt>heatingCosts</dt><dd>###heatingCosts###</dd>
<dt>heatingCostsInRent</dt><dd>###heatingCostsInRent###</dd>
<dt>additionalArea</dt><dd>###additionalArea###</dd>
<dt>availableDate</dt><dd>###availableDate###</dd>
<dt>condition</dt><dd>###condition###</dd>
<dt>flooring</dt><dd>###flooring###</dd>
<dt>floors</dt><dd>###floors###</dd>
<dt>hasCanteen</dt><dd>###hasCanteen###</dd>
<dt>hasCourtage</dt><dd>###hasCourtage###</dd>
<dt>hasElevator</dt><dd>###hasElevator###</dd>
<dt>hasLanCables</dt><dd>###hasLanCables###</dd>
<dt>noParking</dt><dd>###noParking###</dd>
<dt>parkingPrice</dt><dd>###parkingPrice###</dd>
<dt>timeAirport</dt><dd>###timeAirport###</dd>
<dt>timeBusStop</dt><dd>###timeBusStop###</dd>
<dt>timeMotorway</dt><dd>###timeMotorway###</dd>
<dt>timeRailway</dt><dd>###timeRailway###</dd>
<dt>description</dt><dd>###description###</dd>
<dt>interior</dt><dd>###interior###</dd>
<dt>otherInfo</dt><dd>###otherInfo###</dd>
<dt>position</dt><dd>###position###</dd>
</dl>
<hr />
<strong>Markers from type RealEstate</strong>
<dl>
<dt>uuid</dt><dd>###uuid###</dd>
<dt>CreationDate</dt><dd>###CreationDate###</dd>
<dt>DeactivationDate</dt><dd>###DeactivationDate###</dd>
<dt>LastModificationDate</dt><dd>###LastModificationDate###</dd>
<dt>Heading</dt><dd>###Heading###</dd>
<dt>vendor</dt><dd>###vendor###</dd>
<dt>foreignKey</dt><dd>###foreignKey###</dd>
<dt>groupNumber</dt><dd>###groupNumber###</dd>
<dt>ContactAddress_company1</dt><dd>###ContactAddress_company1###</dd>
<dt>ContactAddress_company2</dt><dd>###ContactAddress_company2###</dd>
<dt>ContactAddress_title</dt><dd>###ContactAddress_title###</dd>
<dt>ContactAddress_salutation</dt><dd>###ContactAddress_salutation###</dd>
<dt>ContactAddress_firstName</dt><dd>###ContactAddress_firstName###</dd>
<dt>ContactAddress_lastName</dt><dd>###ContactAddress_lastName###</dd>
<dt>ContactAddress_phone</dt><dd>###ContactAddress_phone###</dd>
<dt>ContactAddress_mobile</dt><dd>###ContactAddress_mobile###</dd>
<dt>ContactAddress_fax</dt><dd>###ContactAddress_fax###</dd>
<dt>ContactAddress_eMail</dt><dd>###ContactAddress_eMail###</dd>
<dt>ContactAddress_homepage</dt><dd>###ContactAddress_homepage###</dd>
<dt>ContactAddress_businessPhone</dt><dd>###ContactAddress_businessPhone###</dd>
<dt>ContactAddress_businessFax</dt><dd>###ContactAddress_businessFax###</dd>
<dt>ContactAddress_callBeforeFax</dt><dd>###ContactAddress_callBeforeFax###</dd>
</dl>
<hr />
<strong>Attachments</strong>
<dl>
<!-- ###ATTACHMENT### begin -->
<dt>###ATTACHMENT_CAPTION###</dt>
<dd><img src="###ATTACHMENT_URL###" alt="###ATTACHMENT_CAPTION###" title="###ATTACHMENT_CAPTION###" /></dd>
<!-- ###ATTACHMENT### end -->
</dl>
<hr />
<strong>Markers from type GISRealEstate</strong>
<dl>
<dt>Address_street</dt><dd>###Address_street###</dd>
<dt>Address_houseNo</dt><dd>###Address_houseNo###</dd>
<dt>Address_zip</dt><dd>###Address_zip###</dd>
<dt>Address_city</dt><dd>###Address_city###</dd>
<dt>showAddress</dt><dd>###showAddress###</dd>
<dt>Continent</dt><dd>###Continent###</dd>
<dt>Country</dt><dd>###Country###</dd>
<dt>Region</dt><dd>###Region###</dd>
<dt>City</dt><dd>###City###</dd>
<dt>Quarter</dt><dd>###Quarter###</dd>
<dt>geoX</dt><dd>###geoX###</dd>
<dt>geoY</dt><dd>###geoY###</dd>
</dl>
<!-- ###TEMPLATE_OFFICE### end -->

</body>

</html>
